*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 120px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 50px;

}

.body{
    height:470px;
    width: 250px;
    border-radius: 5px;
    background-color: rgb(242, 239, 252);
 
    
}

.section p{
    position: absolute;
    top: 135px;
    left: 140px;
}
   

.section1 h3{
    position: absolute;
    top: 170px;
    left: 140px;
}

.body input{
    position: absolute;
    top:230px ;
    left: 135px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    width: 16%;
    background-color: rgb(229, 223, 248);
    color:black;
    font-weight: 600;
}

#search{
    position: absolute;
    top: 235px;
    left: 23.5%;
    font-size: 17px;
}


.section2 h1{
    position: absolute;
    top: 265px;
    left: 140px;
    font-size: 12px;

}
.section3{
    display: flex;
    gap: 7px;
    position: absolute;
    top:290px ;
    left: 135px;
}

.section3 img{
    height: 117px;
    /* width: 100px; */
    border-radius: 5px;
    
}
 .box{
    position: absolute;
    top: 350px;
    left: 145px;
     background:linear-gradient(white,rgb(230, 225, 248)); 
    height: 50px;
    border-radius: 5px;
    width: 155px;
}
.box h1  {
    font-size: 12px; 
    padding-top:10px;
    padding-left: 10px;
    
}
.box i{
    font-size: 10px;
     padding-left: 10px; 
}


.section4 h1{
    position: absolute;
    top: 412px;
    left: 140px;
    font-size: 12px;

}

.image{
    position: absolute;
    top: 430px;
    left: 135px;
    height: 60px;
    width: 220px;
    border-radius: 5px;
}

.section5 h1{
    position: absolute;
    top: 495px;
    left: 140px;
    font-size: 12px;

}

.image2{
    position: absolute;
    top: 510px;
    left: 135px;
    height: 60px;
    width: 220px;
    border-radius: 5px;

}

.section6{
    display: flex;
    position: absolute;
    top: 575px;
    left: 150px;
    justify-content: space-evenly;
    gap: 80px;
    /* font-size: 5px; */
}
.section6 i{
    font-size: 10px;
}

@media(max-width:900px){
    body{
        padding:50px;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    .body{
        height:490px;
        width: 260px;
        border-radius: 7px;
        background-color: rgb(242, 239, 252);
     
        
    }
    .section p{
        position: absolute;
        top: 75px;
        left: 70px;
    }
    .section1 h3{
        position: absolute;
        top: 110px;
        left: 70px;
    }
    
    .body input{
        position: absolute;
        top:165px ;
        left: 65px;
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        width: 62%;
        background-color: rgb(229, 223, 248);
        color:black;
        font-weight: 600;
    }
    #search{
        position: absolute;
        top: 170px;
        left: 72.5%;
        font-size: 17px;
    }
    
    
    .section2 h1{
        position: absolute;
        top: 205px;
        left: 70px;
        font-size: 12px;
    
    }
    .section3{
        display: flex;
        gap: 7px;
        position: absolute;
        top:230px;
        left: 65px;
    }
    
    .section3 img{
        height: 120px;
        /* width: 100px; */
        border-radius: 7px;
        
    }
     .box{
        position: absolute;
        top: 280px;
        left: 75px;
         background:linear-gradient(white,rgb(230, 225, 248)); 
        height: 50px;
        border-radius: 7px;
        width: 155px;
    }
    .box h1  {
        font-size: 12px; 
        padding-top:10px;
        padding-left: 10px;
        
    }
    .box i{
        font-size: 10px;
         padding-left: 10px; 
    }
    
    
    .section4 h1{
        position: absolute;
        top: 352px;
        left: 70px;
        font-size: 12px;
    
    }
    
    .image{
        position: absolute;
        top: 370px;
        left:65px;
        height: 60px;
        width: 230px;
        border-radius: 7px;
    }
    
    .section5 h1{
        position: absolute;
        top: 435px;
        left: 70px;
        font-size: 12px;
    
    }
    
    .image2{
        position: absolute;
        top: 450px;
        left: 65px;
        height: 60px;
        width: 230px;
        border-radius: 7px;
    
    }
    
    .section6{
        display: flex;
        position: absolute;
        top: 515px;
        left: 75px;
        justify-content: space-evenly;
        gap: 80px;
        /* font-size: 5px; */
    }
    .section6 i{
        font-size: 12px;
    }
}

    .body2 img{
        height:470px;
        width: 250px;
        border-radius: 7px; 
    }
    .body2 .back {
        width: 20px;
        height: 20px;
        position: absolute;
        top:135px ;
        left: 445px;
    }

    .box1{
        position: absolute;
        top: 195px;
        left: 505px;
         background:linear-gradient(white,rgb(230, 225, 248)); 
        height: 50px;
        border-radius: 5px;
        width: 155px;
    }
    .box1 h1{
        font-size: 10px; 
        padding-top:15px;
        padding-left: 67px;
    }
    .box1 i{
        font-size: 10px;
          padding-left: 15px; 
    }

      .body2 .img1{ 
         height:35px ; 
        width:55px; 
        
         position: absolute; 
         top: 202px; 
         left: 515px;
        
         
     } 

    .box2{
        position: absolute;
        top: 300px;
        left: 440px;
         background:linear-gradient(white,rgb(230, 225, 248)); 
        height: 50px;
        border-radius: 5px;
        width: 155px;
    }
    .body2 .img2{ 
        height:35px ; 
       width:55px; 
       
        position: absolute; 
        top: 307px; 
        left: 450px;
       
        
    } 
    .box2 h1{
        font-size: 10px; 
        padding-top:15px;
        padding-left: 67px;
    }
    .box2 i{
        font-size: 10px;
          padding-left: 15px; 
    }


    .box3{
        position: absolute;
        top: 495px;
        left: 440px;
         background:linear-gradient(white,rgb(230, 225, 248)); 
        height: 80px;
        border-radius: 5px;
        width: 210px;
    }
    .box3 h1{
        font-size: 10px; 
         padding-top:30px; 
         padding-left: 10px; 
    }

    .box4{
        position: absolute;
        top: 502px;
        left: 450px;
         background:rgb(229, 223, 248); 
        height: 20px;
        border-radius: 5px;
        width: 190px;
    }
    .box4 b{
        font-size: 8px; 
        padding-left: 5px;
        
    }
    .box4 i{
        font-size: 10px;
          padding-left: 10px; 
    }

    .image3{
        
        
         position: absolute; 
         top: 540px; 
         left: 450px;
         display: flex;
         gap: 10px;
    }

    .image3 img{
        height:30px ; 
        width:55px; 


    }


    @media(max-width:900px){
        body{
            display: block;
            
        }

        .body2{
            padding-top: 50px;
            height:490px;
        width: 260px;
        border-radius: 7px;
        }
        .body2 .back {
            width: 20px;
            height: 20px;
            position: absolute;
            top:610px ;
            left: 70px;
        }
    
        .box1{
            position: absolute;
            top: 670px;
            left: 127px;
             background:linear-gradient(white,rgb(230, 225, 248)); 
            height: 50px;
            border-radius: 7px;
            width: 160px;
        }
        .box1 h1{
            font-size: 10px; 
            padding-top:15px;
            padding-left: 67px;
        }
        .box1 i{
            font-size: 10px;
              padding-left: 15px; 
        }
    
          .body2 .img1{ 
             height:35px ; 
            width:55px; 
            
             position: absolute; 
             top: 678px; 
             left: 135px;
            
             
         } 
         .box2{
            position: absolute;
            top: 770px;
            left: 65px;
             background:linear-gradient(white,rgb(230, 225, 248)); 
            height: 55px;
            border-radius: 7px;
            width: 155px;
        }
        .body2 .img2{ 
            height:35px ; 
           width:55px; 
           
            position: absolute; 
            top: 779px; 
            left: 75px;
           
            
        } 
        .box2 h1{
            font-size: 10px; 
            padding-top:15px;
            padding-left: 67px;
        }
        .box2 i{
            font-size: 10px;
              padding-left: 15px; 
        }
    
    
        .box3{
            position: absolute;
            top: 950px;
            left: 70px;
             background:linear-gradient(white,rgb(230, 225, 248)); 
            height: 90px;
            border-radius: 7px;
            width: 210px;
        }
        .box3 h1{
            font-size: 10px; 
             padding-top:35px; 
             padding-left: 10px; 
        }
    
        .box4{
            position: absolute;
            top: 960px;
            left: 80px;
             background:rgb(229, 223, 248); 
            height: 20px;
            border-radius: 5px;
            width: 190px;
        }
        .box4 b{
            font-size: 8px; 
            padding-left: 5px;
            
        }
        .box4 i{
            font-size: 10px;
              padding-left: 10px; 
        }
    
        .image3{
            
            
             position: absolute; 
             top: 1000px; 
             left: 85px;
             display: flex;
             gap: 10px;
        }
    
        .image3 img{
            height:30px ; 
            width:55px; 
    
    
        }
    
    
    }

    
       
